@charset "UTF-8";
.vertical-tabs
{
  font-size: 14px;
  border: 1px solid #e0e0e0;
  background-color: #e0e0e0;
  color: #333;
  padding: 10px 7px;
  text-align: center;
  cursor: pointer;
  margin: 2px 0px 0px 0px;
  border-radius: 10px 0px 0px 10px;
  writing-mode: vertical-rl
}

.vertical-tabs.vertical-tab-selected
{
  font-size: 14px;
  border: 1px solid #f5f5f5;;
  background-color: #f5f5f5;;
  color: #333;
  padding: 10px 11px;
  text-align: center;
  cursor: pointer;
  border-radius: 10px 0px 0px 10px;
  writing-mode: vertical-rl
}

#record-gaia
{
  display: flex;
  padding: 0px;
  opacity:0;
}
#record-gaia.show
{
  opacity:100;
}

#vertical-tab-container
{
  width: 50px;
  text-align: right;
  display: flex;
  flex-flow: column;
  align-items: flex-end;
}

#vertical-tab-container-wrapper
{
  position: sticky;
  top: 128px;
  height: calc(100vh - 150px);
  background-color: #c0c0c0;
}

.border-less-group
{
  border-style: none;
}
.border-less-group > .group-label-gaia
{
  display: none;
}

.vertical-tab-container-hidden
{
  display: none;
}

